.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .maincard{
    width:300px;
    height:300px;
    margin:auto;
    border-radius: 10%;
    color:white;
    background-color:black;
    border:red
  }

  .imgwithborder{
    border-radius: 90% / 40%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-size: contain;
    border-bottom: 5px solid rgb(204, 10, 20);
    
    box-shadow: 50px 54px 80px rgba(248, 9, 49, 0.2);
  }

  .buttonvote{
    border-radius: 50%;
    margin-left: 10px;
  }